# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo

# Next.js
.next/
out/
.next/cache/

# NestJS
dist/

# Env
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# Coverage
coverage/

# OS
.DS_Store
Thumbs.db

# Docker (keep overrides local)
docker-compose.override.yml

# Editor
.vscode/